@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.header{
    background-color: rgb(173 229 110);
  
    .header__container{
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    
        .header__logo{
            color: black;
            font-size: 45px;
            font-weight: 700;
            font-family: 'Fredoka One', cursive;
        }
        
        .navbar{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            
            
            .navbar__link{
                color: white;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}